{template 'common/header'}
<div class="container-fluid container-fullw bg-white">
	<div class="row">
        <div class="col-md-12">
            <div class="row margin-top-30">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h5 class="panel-title">站点资料</h5>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" method="post" action="">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">域名</label>
                            <div class="col-sm-9 col-xs-12">
                                <input type="text" name="domain" class="form-control" value="{$domain}" readonly/>
                                <span class="help-block">服务器域名</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">站点IP</label>
                            <div class="col-sm-9 col-xs-12">
                                <input type="text" name="ip" class="form-control" value="{$ip}" readonly/>
                                <span class="help-block">站点IP</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">站点ID</label>
                            <div class="col-sm-9 col-xs-12">
                                <input type="text" name="id" class="form-control" value="{$id}" readonly />
                                <span class="help-block">站点ID,如果为1或空，请到 <a href='{php echo url('cloud/profile')}'>站点注册</a> 绑定您的服务器（不注册绑定服务器ip+域名，不允许更换）</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">通信密钥</label>
                            <div class="col-sm-9 col-xs-12">
                               <input type="text" class="form-control"  name="code" value="{$auth['code']}">
                                <div class="help-block">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">版本类型</label>
                            <div class="col-sm-9 col-xs-12">
                                <div class='form-control-static'>
                                    {if $status==1}
                                    <span class='label label-success'>商业版</span>
                                    {elseif $status==0}
                                    <span class='label label-success'>试用版</span>
                                    {/if}
                                </div>
                            </div>
                        </div>
                        {if $status==0}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">版本升级</label>
                            <div class="col-sm-9 col-xs-12">
                                <div class='form-control-static'>
                                    <a href="http://wpa.qq.com/msgrd?v=3&uin=1037483576&site=qq&menu=yes" class="label label-danger" target="_blank">升级商业版，请联系客服咨询</a>
                                    {if $status==0}
                                    <span class='help-block'>加入商业用户更多技术支持、更多功能开放！~</span>
                                    {/if}
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if $_W['isfounder']}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">帮助手册</label>
                            <div class="col-sm-9 col-xs-12">
                                <div class='form-control-static'><a href='{php echo $this->createWebUrl('help')}' target='_blank'>小明跑腿帮助手册</a></div>

                            </div>
                        </div>
                        {/if}
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-9 col-xs-12">
                                <div class='form-control-static'>

                                    <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1 " />
                                    <input type="hidden" name="token" value="{$_W['token']}" />
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        <!--

        function tokenGen() {
            var letters = 'abcdefghijklmnopqrstuvwxyz0123456789';
            var token = '';
            for(var i = 0; i < 32; i++) {
                var j = parseInt(Math.random() * (31 + 1));
                token += letters[j];
            }
            $('#token').val(token);
            $('#tokenview').html(token.substr(0, 5) +'*****'+token.substr(-5, 5));
        }
        $(document).ready(function(e) {
            var token = $('#tokenview').val();
            $('#tokenview').html(token.substr(0, 5) +'*****'+token.substr(-5, 5));
        });

        //-->
</script>
{template 'common/footer'}
