{template 'common/header-meepo'}
{template 'web/template/navs'}
<div class="panel panel-default">
	<div class="panel-heading">
		跑腿认证设置
	</div>
	<div class="panel-body">
	<form action="" method="post"  class="form-horizontal" role="form" enctype="multipart/form-data" id="form1">
		<div class="form-group">
			<div class="col-sm-10 col-xs-12">
				<div class="input-group">
				<div class="input-group-addon">认证费用</div>
				<input type="text" name="runner_money" class="form-control" value="{$settings['runner_money']}" />
				<div class="input-group-addon">元，认证通过赠送</div>
				<input type="text" name="start_num" class="form-control" value="{$settings['start_num']}" />
				<div class="input-group-addon">信誉，每点信誉</div>
				<input type="text" name="one_money" class="form-control" value="{$settings['one_money']}" />
				<div class="input-group-addon">元，放弃订单扣除</div>
				<input type="text" name="giveup_num" class="form-control" value="{$settings['giveup_num']}" />
				<div class="input-group-addon">信誉</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">注册条款</div>
			<div class="panel-body" style="margin:0px;padding:0px;">
			{php echo tpl_ueditor('register',$settings['register'])}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">总开关</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label">接任务必须实名认证</label>
					<div class="col-sm-8 col-lg-9 col-xs-12">
						<input type="radio" name="recive_open" value="1" {if $settings['recive_open']==1}checked="checked"{/if} class=""/>开启
						<input type="radio" name="recive_open" class="" value="0" {if $settings['recive_open']==0}checked="checked"{/if}/>关闭
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label">发任务必须完善信息</label>
					<div class="col-sm-8 col-lg-9 col-xs-12">
						<input type="radio" name="post_open" value="1" {if $settings['post_open']==1}checked="checked"{/if} class=""/>开启
						<input type="radio" name="post_open" class="" value="0" {if $settings['post_open']==0}checked="checked"{/if}/>关闭
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label">跑腿自动审核</label>
					<div class="col-sm-8 col-lg-9 col-xs-12">
						<input type="radio" name="auto_runner" value="1" {if $settings['auto_runner']==1}checked="checked"{/if} class=""/>开启
						<input type="radio" name="auto_runner" class="" value="0" {if $settings['auto_runner']==0}checked="checked"{/if}/>关闭
					</div>
				</div>


			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				连接设置
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label">提现入口</label>
					<div class="col-sm-8 col-lg-9 col-xs-12">
						{php echo tpl_form_field_link('tixian_url',$settings['tixian_url'])}
					</div>
				</div>

				<div class="form-group" style="margin-top:20px;">
					<label class="col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label">流程说明入口</label>
					<div class="col-sm-8 col-lg-9 col-xs-12">
						{php echo tpl_form_field_link('help_url',$settings['help_url'])}
					</div>
				</div>

			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-1 col-xs-12 col-sm-10 col-md-10 col-lg-11">
				<input name="submit" type="submit" value="提交" class="btn btn-primary span3" />
				<input type="hidden" name="token" value="{$_W['token']}" />
			</div>
		</div>
	</form>
	</div>
	
{template 'common/footer'}
