    <!-- show search start -->
        <div class="fe-mod fe-mod-4" ng-class="{'fe-mod-select':Item.id==focus}">
            <form action="./index.php" method="get">
                <input type="hidden" name='i' value="{{uniacid}}"/>
                <input type="hidden" name='c' value='entry'/>
                <input type="hidden" name='m' value='imeepos_runner'/>
                <input type="hidden" name='do' value='task'/>
                <input type="hidden" name='act' value='class'/>
                <input type="hidden" name='cid' value='{{cid}}'/>
                <div class="fe-mod-4-con">
                    <input type="submit" class="fe-mod-4-ico" value="" style="border: 0px; padding: 0px; margin: 0px;"/>
                    <div class="fe-mod-4-blank">
                        <input class="fe-mod_4-input" name="keywords" placeholder="{{Item.params.placeholder || '输入关键字'}}" ng-model="searchkey" />
                    </div>
                </div>
            </form>
        </div>
    <!-- show search end -->