{template 'common/header'}
{template 'web/task/navs'}
<style>
.editable-click, a.editable-click {
    color: #000 !important;
    border-bottom:none !important;text-decoration: none;
}
.editable-input.editable-has-buttons {
    width: auto;
    max-width: 100px;
}
.st-sort-ascent:before {
    content: '\25B2';
}
.media-object{
	width:4em;
	height:4em;
	border-radio:2em;
}

.card_1,.card_2{
	float:left;
	display:inline-block;
	width: 50%;
    overflow: auto;
    padding:2px;
}
.card_1 img,.card_2 img{
	width:100%;
}
.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	white-space: normal !important;
	overflow: visible !important;
}
.dropdown{
	display:inline-block !important;
}
</style>
<div class="panel panel-default" ng-app="app" ng-controller="rootCtrl">
	<div class="panel-heading">
		会员管理
	</div>
	<div class="panel-body">
		<table st-table="items" class="table table-striped">
			<thead>
				<tr>
					<th style="width:50px;" st-sort="uid">会员编号</th>
					<th style="width:140px;" st-sort="nickname">会员昵称</th>
					<th style="width:140px;" st-sort="realname">真实姓名</th>
					<th style="width:140px;" st-sort="mobile">手机号</th>
					<th style="width:100px;">信誉</th>
					<th style="width:80px;" st-sort="avatar">会员头像</th>
					
					<th style="width:100px;" st-sort="status">状态</th>
					<th style="width:80px;" st-sort="isrunner">是否跑腿</th>
					<th style="width:280px;">操作</th>
				</tr>
				<tr>
					<th  colspan="2">
						<input st-search="nickname" placeholder="昵称" class="input-sm form-control" type="search"/>
					</th>
					<th colspan="1">
						<input st-search="realname" placeholder="真实姓名" class="input-sm form-control" type="search"/>
					</th>
					<th colspan="2">
						<input st-search="mobile" placeholder="手机号" class="input-sm form-control" type="search"/>
					</th>
					<th></th>
					<th colspan="2">
						<select st-search="isrunner" class="form-control">
							<option value="">是否跑腿</option>
							<option value="0">否</option>
							<option value="1">是</option>
						</select>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in items">
					<td>
						{{item.uid}}
					</td>
					<td>
						{{ item.nickname || "未获取" }}
					</td>
					<td>
						{{ item.realname || "未完善" }}
					</td>
					<td>
						{{ item.mobile || "未完善" }}
					</td>
					<td>
						<a href="#" editable-text="item.xinyu" onbeforesave="updatexinyu(item,$data)">{{ item.xinyu || "0.00" }}</a>
					</td>
					<td>
						<img ng-src="{{item.avatar || '../addons/meepo_voteplatform/icon.jpg'}}" style="width:50px;height:50px;"/>
					</td>
					<td><label class="label {{item.status_label}}" ng-click="status(item)">{{item.statustitle}}</label></td>
					<td><label class="label {{item.isrunner_label}}" ng-click="isrunner(item)">{{item.isrunnertitle}}</label></td>
					
					<td>
						<a href="{php echo $this->createWebUrl('task',array('act'=>'list'))}&openid={{item.openid}}" class="btn btn-default">任务记录</a>
						<a href="{php echo $this->createWebUrl('recive',array('act'=>'list'))}&openid={{item.openid}}" class="btn btn-default">接单记录</a>
						<a href="{php echo $this->createWebUrl('paylog')}&openid={{item.openid}}" class="btn btn-default">支付记录</a>
						<a class="btn btn-success" ng-mouseenter="tooltip()" data-toggle="tooltip" data-placement="top" title="审核" href="#" ng-click="shenhe(item)">
							审核
						</a>
						<a class="btn btn-info" ng-mouseenter="tooltip()" data-toggle="tooltip" data-placement="top" title="充值信誉" href="#" ng-click="chongzhi(item)">
							充值信誉
						</a>
						<a class="btn btn-danger" ng-mouseenter="tooltip()" data-toggle="tooltip" data-placement="top" title="删除" href="#" ng-click="delete(item.id,$index)">
							删除
						</a>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="text-center">
					<td colspan="9">
						<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="panel-footer">
	
	</div>
</div>
<link rel="stylesheet" type="text/css" href="{MODULE_URL}/public/libs/angular-xeditable/dist/css/xeditable.css"/>
<script src="{MODULE_URL}public/libs/angular.min.js"></script>
<script type="text/javascript" src="{MODULE_URL}/public/libs/smart-table.js"></script>
<script type="text/javascript" src="{MODULE_URL}/public/libs/angular-xeditable/dist/js/xeditable.js"></script>
<script src="{MODULE_URL}/public/libs/ui-bootstrap-tpls.min.js"></script>
<script>
	var app = angular.module('app',['xeditable','smart-table',"ui.bootstrap"]);
	app.run(function(editableOptions) {
		editableOptions.theme = 'bs3';
	});
	app.controller('rootCtrl',function($scope,$http){
		$scope.items = {php echo json_encode($list)};
		var addurl = "{php echo $this->createWebUrl('v',array('act'=>'add'))}";
		var deleteurl = "{php echo $this->createWebUrl('v',array('act'=>'delete'))}";
		var userurl = "{php echo $this->createWebUrl('v',array('act'=>'xinyu'))}";
		$scope.tooltip = function(){
			$scope.tooltip = function(){
				$('[data-toggle="tooltip"]').tooltip();
			}
		}
		
		$scope.chongzhi = function(user){
			require(['jquery','util'],function($,util){
				var body = '<div class="media">'+
						'<div class="pull-left">'+
						'<a href="#">'+
								'<img class="media-object" src="'+user.avatar+'" alt="'+user.nickname+'">'+
						'</a>'+
						'</div>'+
						'<div class="media-body">'+
						'<h4 class="media-heading">'+user.nickname+'('+user.realname+')</h4>'+
						'<p>电话：<a href="tel:'+user.mobile+'">'+user.mobile+'</a></p>'+
						'<p>身份证号码：'+user.cardnum+'</a></p>'+
						'</div>'+
				'</div>';
				body += '<div class="panel panel-default"><div class="panel-heading">信誉充值</div><div class="panel-body"><input type="number" name="xinyu" value="" placeholder="请输入充值信誉数量" class="form-control"/><input type="number" name="kouchu" value="" placeholder="请输入扣除信誉数量" class="form-control"/></div></div>';
							
				var footer = '<button class="btn btn-primary sendmessage ">提交</button>';
				footer += '<button class="btn btn-default down">关闭</button>';
				
				var modalobj = util.dialog('信誉充值',body,footer,{containerName:'user'});
				
				modalobj.removeClass('fade');
				modalobj.show();
				
				$('#user .sendmessage').click(function(){
					//审核成功
					var data = {};
					data.xinyu = $('#user input[name="xinyu"]').val();
					data.kouchu = $('#user input[name="kouchu"]').val();
					data.id = user.id;
					$http.post(userurl,data).success(function(data){
						require(['jquery','util'],function($,util){
							util.message('操作成功','','success');
							window.location.reload();
						});
					});
				});
				
				$('#user .close').click(function(){
					modalobj.hide();
				});
				
				$('#user .down').click(function(){
					modalobj.hide();
				});
			});
		}
		
		$scope.shenhe = function(user){
			require(['jquery','util'],function($,util){
				var body = '<div class="media">'+
  								'<div class="pull-left">'+
    								'<a href="#">'+
      									'<img class="media-object" src="'+user.avatar+'" alt="'+user.nickname+'">'+
    								'</a>'+
  								'</div>'+
  								'<div class="media-body">'+
    								'<h4 class="media-heading">'+user.nickname+'('+user.realname+')</h4>'+
    								'<p>电话：<a href="tel:'+user.mobile+'">'+user.mobile+'</a></p>'+
    								'<p>身份证号码：'+user.cardnum+'</a></p>'+
  								'</div>'+
							'</div>';
				body += '<div class="panel panel-default"><div class="panel-heading">身份证核实</div><div class="panel-body"><div class="card_1"><img src="'+user.card_image1+'" alt="" /></div><div class="card_2"><img src="'+user.card_image2+'" alt="" /></div></div></div>';
							
				var footer = '<button class="btn btn-primary sendmessage ">审核成功</button>';
				footer += '<button class="btn btn-default sysinfo">审核失败</button>';
				footer += '<button class="btn btn-default down">关闭</button>';
				
				var modalobj = util.dialog('身份核实',body,footer,{containerName:'user'});
				modalobj.removeClass('fade');
				modalobj.show();
				
				$('#user .sendmessage').click(function(){
					//审核成功
					user.status = 1;
					user.statustitle = '审核通过';
					user.status_label = 'label-info';
					$http.post("{php echo $this->createWebUrl('v',array('act'=>'status'))}",user).success(function(data){
						
					});
					modalobj.hide();
				});
				
				$('#user .sysinfo').click(function(){
					//审核失败
					user.status = 0;
					user.statustitle = '待审核';
					user.status_label = 'label-danger';
					$http.post("{php echo $this->createWebUrl('v',array('act'=>'status'))}",user).success(function(data){
						
					});
					modalobj.hide();
				});
				
				$('#user .close').click(function(){
					modalobj.hide();
				});
				
				$('#user .down').click(function(){
					modalobj.hide();
				});
			});
		}
		
		$scope.delete = function(id,start){
			var truthBeTold = window.confirm("您确定要删除此会员么，单击“确定”继续。单击“取消”停止。");
			if(truthBeTold){
				$http.get(deleteurl+'&id='+id).success(function(data){
					$scope.items.splice(start,1);
				});
			}
		}
		
		$scope.isrunner = function(e){
			if(e.isrunner == 0){
				e.isrunner = 1;
				e.isrunnertitle = '是';
				e.isrunner_label = 'label-info';
			}else{
				e.isrunner = 0;
				e.isrunnertitle = '否';
				
				e.isrunner_label = 'label-danger';
			}
			$http.post(addurl,e).success(function(data){});
		}
		
		$scope.updatexinyu = function(e,t){
			e.xinyu = t;
			$http.post(addurl,e).success(function(data){});
		}
		
		$scope.status = function(e){
			if(e.status == 0){
				e.status = 1;
				e.statustitle = '审核通过';
				e.status_label = 'label-info';
			}else{
				e.status = 0;
				e.statustitle = '待审核';
				e.status_label = 'label-danger';
			}
			$http.post(addurl,e).success(function(data){});
		}
	});
</script>
{template 'common/footer'}