
<!--服务端-->
{php $footers = M('navs')->getall('runner')}
<div class="tabs tabs-icon-top" v-show="showMain" style="border:none;z-index: 99;position: fixed;xbottom: 0px;left: 0px;right: 0px;">
    {loop $footers $footer}
    <a href="{php echo $footer['link']}" class="tab-item {if $_GPC['do']==$footer['ido']}active{/if}">
        <img src="{if $_GPC['do']==$footer['ido']}{php echo tomedia($footer['icon_on'])}{else}{php echo tomedia($footer['icon_off'])}{/if}" class="icon" alt=""/>
        <span>{$footer['title']}</span>
    </a>
    {/loop}
</div>
