{template 'default/vux/header'}
{template 'default/common/footerbar'}
<style>
    #advSwiper{height:150px;}
    #advSwiper img{width:100%;}
    .meepo_tabs .meepo_tab-item{width: 50%;float: right;margin-top: 15px;}
</style>
<div class="swiper-container" id="advSwiper">
    <div class="swiper-wrapper">
        {loop $advs $adv}
        <a href="{php echo $adv['link']}" class="swiper-slide">
            <img src="{php echo tomedia($adv['image'])}" />
        </a>
        {/loop}
    </div>
</div>
<div id="loadingToast" style="display:block;" class="weui_loading_toast">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">加载中,请稍后!</p>
    </div>
</div>
<div id="app" style="display:none;">
    <style>
        .row h2,.row span{display: block;margin: 0 auto;color: #fff;text-align: center;}
        .row img{margin: 0 auto;display: block;width: 2em;margin-top: 30px;}
        .row{border-radius: 0.1em;}
        .col{border-radius: 0.1em;}
    </style>
    <div class="row" style="margin: 0 auto;width:95%;margin-top:0px;margin-bottom:44px;">
        <div class="col" onclick="window.location.href='{php echo $this->createMobileUrl('post_index')}'" style="background-size: cover;background-image:url('{MODULE_URL}public/images/song_bg.png')">
            <img style="margin-top: 65%;width: 4em;" src="{MODULE_URL}public/images/song_icon.png" alt=""/>
            <h2 style="margin-top:15px;">帮我送</h2>
            <span >着急送 准时达</span>
        </div>
        <div class="col" style="padding-top:0px;padding-bottom:0px;">
            <div class="row" onclick="window.location.href='{php echo $this->createMobileUrl('buy')}'" style="background-size: cover;background-image:url('{MODULE_URL}public/images/mai_bg.png')">
                <div class="col">
                    <img src="{MODULE_URL}public/images/mai_icon.png" alt=""/>
                    <h2 style="margin-top:5px;">帮我买</h2>
                    <span style="margin-bottom:30px;">懒得动 随意购</span>
                </div>
            </div>
            <div class="row" onclick="window.location.href='{php echo $this->createMobileUrl('help')}'" style="margin-top:10px;background-size: cover;background-image:url('{MODULE_URL}public/images/help_bg.png')">
                <div class="col">
                    <img src="{MODULE_URL}public/images/help_icon.png" alt=""/>
                    <h2 style="margin-top:5px;">帮忙</h2>
                    <span style="margin-bottom:30px;">帮排队 帮表白</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    require([
        'vue',
        'jquery',
        'libs/underscore-min',
        'swiper',
        'libs/vux/components/x-button/index',
        'libs/vux/components/divider/index',
        'libs/vux/components/tab/index',
        'libs/vux/components/tab-item/index',
        'libs/vux/components/masker/index',
        'libs/vux/components/clocker/index',
        'libs/vux/components/countup/index',
    ],function(Vue,$,_,Swiper,xButton,divider,tab,tab_item,masker,clocker,countup){

        var mySwiper = new Swiper('#advSwiper', {
            autoplay: 3000,
            loop : true,
            effect : 'fade',
        });

        Vue.component('x-button', xButton);
        Vue.component('divider', divider);
        Vue.component('tab', tab);
        Vue.component('tab-item', tab_item);
        Vue.component('masker', masker);
        Vue.component('clocker', clocker);
        Vue.component('countup', countup);

        var item = 'song';
        var page = 1;

        var vm = new Vue({
            el:'#app',
            data:{

            },
            ready:function(){
                $('#app').show();
                $('#loadingToast').hide();
            },
            methods:{

            }
        });
    });
</script>
</body>
</html>