{template 'default/vux/header'}
{template 'default/common/footerbar2'}
<!--任务大厅-->
<style>
    #advSwiper{height:150px;}
    #advSwiper img{width:100%;}
    .meepo_tabs .meepo_tab-item{width: 50%;float: right;margin-top: 15px;}
</style>
    <div class="swiper-container" id="advSwiper">
        <div class="swiper-wrapper">
            {loop $advs $adv}
            <a href="{php echo $adv['link']}" class="swiper-slide">
                <img src="{php echo tomedia($adv['image'])}" />
            </a>
            {/loop}
        </div>
    </div>
    <div id="loadingToast" style="display:block;" class="weui_loading_toast">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
            <div class="weui_loading">
                <div class="weui_loading_leaf weui_loading_leaf_0"></div>
                <div class="weui_loading_leaf weui_loading_leaf_1"></div>
                <div class="weui_loading_leaf weui_loading_leaf_2"></div>
                <div class="weui_loading_leaf weui_loading_leaf_3"></div>
                <div class="weui_loading_leaf weui_loading_leaf_4"></div>
                <div class="weui_loading_leaf weui_loading_leaf_5"></div>
                <div class="weui_loading_leaf weui_loading_leaf_6"></div>
                <div class="weui_loading_leaf weui_loading_leaf_7"></div>
                <div class="weui_loading_leaf weui_loading_leaf_8"></div>
                <div class="weui_loading_leaf weui_loading_leaf_9"></div>
                <div class="weui_loading_leaf weui_loading_leaf_10"></div>
                <div class="weui_loading_leaf weui_loading_leaf_11"></div>
            </div>
            <p class="weui_toast_content">加载中,请稍后!</p>
        </div>
    </div>
    <div id="app" style="display:none;">
        <div>
            <tab :line-width="1">
                <tab-item @click="goTo(1)" selected>帮我送</tab-item>
                <tab-item @click="goTo('2')">帮我买</tab-item>
                <tab-item @click="goTo('4')">帮帮忙</tab-item>
                <tab-item @click="goTo('3')">接单流程</tab-item>
                <!--<tab-item @click="goTo('4')">找跑腿</tab-item>-->
            </tab>
            <div v-for="item in orders" class="hd" style="height:150px;">
                <a href="{php echo $this->createMobileUrl('detail')}&id={{item.id}}" class="weui_media_box weui_media_appmsg" >
                    <div class="weui_media_hd">
                        <masker class="weui_media_appmsg_thumb">
                            <img class="m-img" style="width:100% !important;position: relative;" :src="item.src">
                            <div slot="content" class="m-title">
                                {{item.nickname}}
                            </div>
                        </masker>
                    </div>
                    <div class="weui_media_bd" >
                        <h4 class="weui_media_title">
                            【{{item.type_title}}】
                            <img v-if="check_zero(item.small_money)" src="{MODULE_URL}public/images/jj.png" style="height:1.2em;" alt=""/>
                            <img v-if="check_zero(item.small_money)" src="{MODULE_URL}public/images/icon_assign_jijian.png" style="height:1.2em;" alt=""/>
                        </h4>
                        <p class="weui_media_desc">
                            <span style="display:block;margin-bottom:15px;">
                                <span>{{item.text}}</span><br/>
                                <img v-if="item.message" src="{MODULE_URL}public/images/icon_zhongyao.png" style="height:1em;" alt=""/>
                                <span>{{item.message}}</span>
                                <br/>
                            </span>

                            <div style="margin-top:0.3em;">
                                <clocker style="display: block;" :time="item.limit_time" slot="value">
                                    <span style="color:red">%D : </span>
                                    <span style="color:red">%H : </span>
                                    <span style="color:red">%M : %S</span>
                                </clocker>
                            </div>
                            <x-button mini type="warn" style="float:right;margin-top:-30px;">
                                {{item.total}}元
                            </x-button>
                        </p>
                    </div>
                </a>
            </div>
            <cell style="margin: 0 auto;text-align: center;" :title="moretitle" @click="loadMore()"></cell>
        </div>
    </div>
    <script>
        require([
            'vue',
            'jquery',
            'libs/underscore-min',
            'swiper',
            'libs/vux/components/x-button/index',
            'libs/vux/components/divider/index',
            'libs/vux/components/tab/index',
            'libs/vux/components/tab-item/index',
            'libs/vux/components/masker/index',
            'libs/vux/components/clocker/index',
            'libs/vux/components/countup/index',
        ],function(Vue,$,_,Swiper,xButton,divider,tab,tab_item,masker,clocker,countup){

            var mySwiper = new Swiper('#advSwiper', {
                autoplay: 3000,
                loop : true,
                effect : 'fade',
            });
            Vue.component('x-button', xButton);
            Vue.component('divider', divider);
            Vue.component('tab', tab);
            Vue.component('tab-item', tab_item);
            Vue.component('masker', masker);
            Vue.component('clocker', clocker);
            Vue.component('countup', countup);

            var item = 'song';
            var page = 1;

            var vm = new Vue({
                el:'#app',
                data:{
                    list:{php echo json_encode($sliders)},
                    results: [],
                    value: '',
                    orders:{},
                    showMain:true,
                    page : 1,
                    item : 'song',
                    loading:false,
                    message:'已没有更多',
                    moretitle:"点击加载更多"
                },
                ready:function(){
                    $('#app').show();
                    $('#loadingToast').hide();
                    this.orders = sorftOrders(1);
                },
                methods:{
                    resultClick:function(item) {
                        alert('you click the result item: ' + JSON.stringify(item))
                    },
                    getResult:function(val) {
                        this.results = getResult(this.value)
                    },
                    loadMore:function(){
                        page = page + 1;
                        $('#loadingToast').show();
                        $.get("{php echo $this->createMobileUrl('tasks',array('act'=>'more'))}&type="+item+"&page="+page,function(data){
                            if(data.status == 1){
                                setTimeout(function(){
                                    $('#loadingToast').hide();
                                },1000);
                                var orders = ordersFielt(data.data);
                                vm.orders = vm.orders.concat(orders);
                            }else{
                                vm.moretitle = '已没有更多';
                                setTimeout(function(){
                                    $('#loadingToast').hide();
                                },1000);
                            }
                        },'json');
                    },
                    check_zero:function(k){
                        if(parseFloat(k) > 0){
                            return true;
                        }else{
                            return false;
                        }
                    },
                    goTo:function(k){
                        if(k == 1){
                            page = 1;
                            item = 'song';
                            vm.moretitle = '点击加载更多';
                            vm.orders = sorftOrders(1);
                        }
                        if(k == 2){
                            page = 1;
                            item = 'mai';
                            vm.moretitle = '点击加载更多';
                            vm.orders = sorftOrders(2);
                        }
                        console.log(vm.orders);
                        
                        if(k == 3){
                            window.location.href = "{php echo $setting['help_url']}";
                        }
                        if(k == 4){
                            page = 1;
                            item = 'bang';
                            vm.moretitle = '点击加载更多';
                            vm.orders = sorftOrders(3);
                        }
                    }
                }
            });
        });
        function ordersFielt(orders){
            var items = [];
            _.each(orders,function(item){
                //item.limit_time = new Date(item.limit_time);
                item.total = toDecimal(item.total);
                items = items.concat(item);
            });
            return items;
        }
        function sorftOrders(key){
            if(key == 1){
                var orders = {php echo json_encode($orders1)};
            }else if(key == 2){
                var orders = {php echo json_encode($orders2)};
            }else{
                var orders = {php echo json_encode($orders3)};
            }
            var items = ordersFielt(orders);
            return items;
        }

        function toDecimal(x) {
            var f = parseFloat(x);
            if (isNaN(f)) {
                return;
            }
            f = Math.round(x*100)/100;
            return f;
        }

        function getResult(key){

        }
    </script>
</body>
</html>