<div class="bar bar-header bar-clear" style="position:fixed;">
	<button class="button button-clear" onclick="window.history.go(-1)">
		<i class="icon ion-ios-arrow-back active"></i>
		<span class="active">返回</span>
	</button>
	<a class="button button-clear" href="{php echo $v_set['tixian_url']}">
		<span class="active">提现</span>
	</a>
</div>
<style></style>
<div class="page">
<div class="h44"></div>

<div class="msg">
<div class="weui_msg">
    <div class="weui_icon_area">
    	<img src="{$user['avatar']}" style="width:4em;height:4em;border-radius:2em;" alt="" />
    </div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">{$user['nickname']}</h2>
        <p class="weui_msg_desc">{$user['credit2']}元</p>
    </div>
        <div class="weui_cells" style="margin-top:0px;">
			{if !empty($list)}
				{loop $list $li}
			            <div class="weui_cell">
			                <div class="weui_cell_hd"><img src="{$li['avatar']}" alt="" style="width:20px;margin-right:5px;display:block"></div>
			                <div class="weui_cell_bd weui_cell_primary">
			                    <p>赏金：<span style="color:red;">{$li['fee']}</span></p>
			                </div>
			                <div class="weui_cell_ft">{$li['create_time']}</div>
			            </div>
				{/loop}
			{else}
				<div class=list>
					<div class="item item1">暂无记录</div>
				</div>
			{/if}
		</div>
</div>
</div>

</div>
{template 'default/common/footerbar2'}
<script>
require(['jquery'],function(){
	$('#footer').show();
});
</script>