{template 'common/header'}
{template 'plugin/navs'}
{template 'navs'}
<div class="panel panel-default">
	<div class="panel-heading">
		使用手册
	</div>
	
	<div class="panel-body">
		<div class="media">
		  <a class="media-body" href="http://meepo.com.cn/app/index.php?i=2&c=site&a=site&do=detail&id=1">
		    <h4 class="media-heading">阿里大鱼短信接口配置</h4>
		  </a>
		</div>
		<div class="media">
		  <a class="media-body" href="http://meepo.com.cn/app/index.php?i=2&c=site&a=site&do=detail&id=1">
		    <h4 class="media-heading">一直提示请在微信中打开是怎么回事？</h4>
		  </a>
		</div>
		
	</div>
</div>
{template 'common/footer'}